<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/mainLayout"
    android:orientation="vertical"
    android:gravity="center"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".MainActivity"
    android:background="@drawable/galaxy1">


    <TextView
        android:layout_width="wrap_content"
        android:layout_height="70dp"
        android:text="Guy's App"
        android:textColor="#FFC500"
        android:layout_marginBottom="10dp"
        android:textSize="35sp" />


    <Button
        android:id="@+id/changeButtonColor"
        android:layout_width="200dp"
        android:layout_height="70dp"
        android:backgroundTint="#6930ED"
        android:onClick="changeButtonColor"
        android:text="Change Button Color"
        android:textSize="20dp"
        android:layout_marginTop="0dp"></Button>

    <Button
        android:id="@+id/changeTextColor"
        android:layout_width="200dp"
        android:layout_height="70dp"
        android:backgroundTint="#1178FF"
        android:onClick="changeTextColor"
        android:text="Change Text Color"
        android:textSize="20dp"
        android:layout_marginTop="80dp"></Button>

    <Button
        android:id="@+id/changeBG"
        android:layout_width="200dp"
        android:layout_height="70dp"
        android:backgroundTint="#EDAB30"
        android:onClick="changeBackground"
        android:text="Change Background"
        android:textSize="20dp"
        android:layout_marginTop="80dp"></Button>

    <Button
        android:id="@+id/quit"
        android:layout_width="130dp"
        android:layout_height="50dp"
        android:backgroundTint="#ED3030"
        android:onClick="quitApp"
        android:text="Quit"
        android:textSize="20dp"
        android:layout_marginTop="60dp"></Button>

    <Button
        android:id="@+id/jeff"
        android:layout_width="70dp"
        android:layout_height="45dp"
        android:backgroundTint="#ED3030"
        android:onClick="moveToScreen"
        android:text="🤫"
        android:textSize="18sp"
        android:translationX="-160dp"
        android:translationY="60dp"
        ></Button>

</LinearLayout>
